# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
flow-coverage
lib-cov
coverage
coverage.*
.nyc_output
*.lcov

# Codeclimate
codeclimate.*
cc-reporter
cc-reporter.*

# Bundles
bundle/
build/
dist/
target/
typings/
flow-typed/
buildstamp.json

# Docs
docs
doc

# Deps
node_modules
jspm_packages
bower_components

#IDE
.idea
.idea/

# Yarn Integrity file
.yarn-integrity

.npm
.eslintcache
.node_repl_history
.env

# Typescript
*.tsbuildinfo
.tsbuildinfo
buildcache
.buildcache

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Creds
*.asc
*.key
*.pem
*.cert
